    @* @model MyViewModel
    
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="text-center">Add a Dish!</h1>
            <div class="container text-center">
                <a href="/" class="btn btn-primary">Home</a>
                <a href="/dishes/new" class="btn btn-primary">Add a Dish</a>
            </div>
            
            <form asp-action="CreateDish" asp-controller="Home" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Dish.DishName">Name of Dish</label>
                    <input class="form-control" asp-for="@Model.Dish.DishName">
                    <span class="text-danger" asp-validation-for="@Model.Dish.DishName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Dish.NumOfCalories"># of Calories</label>
                    <input class="form-control" asp-for="@Model.Dish.NumOfCalories">
                    <span class="text-danger" asp-validation-for="@Model.Dish.NumOfCalories"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Dish.Tastiness">Tastiness</label>
                    <select class="form-control" asp-for="@Model.Dish.Tastiness">
                        <option>Please Rate Tastiness</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.Dish.Tastiness"></span>
                </div>
                    
                FINISH THIS!!!!
                <div class="mb-3">
                    <label asp-for="@Model.Dish.ChefId">Chef Name</label>
                    <select class="form-control" asp-for="@Model.Dish.ChefId">
                        <option>Please select a chef</option>
                        @await Html.PartialAsync("_ChefDropDown")
                        <option value="1">Paul</option>
                        @foreach(Chef c in Model.AllChefs)
                        {
                            <option value="@c.ChefId">@c.FirstName @c.LastName = @c.ChefId</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.Dish.ChefId"></span>
                </div>
       
                

                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div> *@
        @model ChefsDishes.Models.Dish

        <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="text-center">Add a Dish!</h1>

            
            <form asp-action="CreateDish" asp-controller="Home" method="post">
                <div class="mb-3">
                    <label asp-for="DishName">Name of Dish</label>
                    <input class="form-control" asp-for="DishName">
                    <span class="text-danger" asp-validation-for="DishName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NumOfCalories"># of Calories</label>
                    <input class="form-control" asp-for="NumOfCalories">
                    <span class="text-danger" asp-validation-for="NumOfCalories"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Tastiness">Tastiness</label>
                    <select class="form-control" asp-for="Tastiness">
                        <option>Please Rate Tastiness</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Tastiness"></span>
                </div>
                
               
                <div class="mb-3">
                    <label asp-for="ChefId">Chef Name</label>
                    <select class="form-control" asp-for="ChefId">
                        <option>Please select a chef</option>
                        @* * await Html.PartialAsync("_ChefDropDown", Model.Chef) * *@
                        @foreach(Chef c in @ViewBag.AllChefs)
                        {
                            <option value="@c.ChefId">@c.FirstName @c.LastName</option>
                        }
                        @* <option value="1">Paul</option> *@

                    </select>
                    <span class="text-danger" asp-validation-for="ChefId"></span>
                </div>
       
                

                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>