@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">@ViewBag.OneDish.DishName</h1>
    <div class="container">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/dishes/new" class="btn btn-primary">Add a Dish</a>
    </div>
    <div class="container">
        <h5>@ViewBag.OneDish.DishName by 
            <em>
                @ViewBag.OneDish.ChefName
            </em>
        </h5>
        <p>@ViewBag.OneDish.Description</p>
        <p>Calories: @ViewBag.OneDish.NumOfCalories</p>
        <p>Tastiness: @ViewBag.OneDish.Rating</p>
        <p>DishID: @ViewBag.OneDish.DishId</p>
        
        <div class="container">
            <a href="/dishes/@ViewBag.OneDish.DishId/edit" class="btn btn-primary">Edit</a>
            
            <form asp-action="DestroyDish" asp-controller="Home" asp-route-dishId="@ViewBag.OneDish.DishId">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        @* loop through db and render first 5 dishes *@

    </div>
</div>
